# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xuhsjvipmwzpmsbpjpgq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1aHNqdmlwbXd6cG1zYnBqcGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMDE2NTYsImV4cCI6MjA5Mzg3NzY1Nn0.nu72YZ6Xxvxo3PDEPZlCL_bMg2Zh3rGEVhRzU8YduKQ

# Vite (same values)
VITE_SUPABASE_URL=https://xuhsjvipmwzpmsbpjpgq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1aHNqdmlwbXd6cG1zYnBqcGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMDE2NTYsImV4cCI6MjA5Mzg3NzY1Nn0.nu72YZ6Xxvxo3PDEPZlCL_bMg2Zh3rGEVhRzU8YduKQ
